/* main page */
:root{
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color:#2196F3;
    --title-accent-color:#FFFFFF;
    --footer-accent-color:rgba(255, 255, 255, 0.6);
    --background-color: #E5E5E5;
}
body {
    background: var(--background-color);
    color: var(--primary-text-color); /* цвет основного текста */
    font-family: Roboto, sans-serif;  
    letter-spacing: 0.03em;
  
    }
/* вторичный цвет color: #757575;*/
/* белый color: #FFFFFF;*/
/* акцент color: #2196F3;*/
/* акцент в футере  color: rgba(255, 255, 255, 0.6);*/
/* вторичный цвет фона background: #F5F4FA;*/

.list {
    list-style: none;
}
/* лого */
  .site-nav .logo .link,
  .footer .logo .link {
    color: var(--primary-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    } 
.accent {
    color: var(--accent-color);
    }

/* site-nav */
.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
}
.site-nav .link:hover,
.site-nav .link.current {
    color: var(--accent-color);  
}

/* upper contacts */
.contact .link {
    color: var(--secondary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact .link:hover,
.contact .link:focus {
   color: var(--accent-color);
}     

/* герой */
.hero {
   color: var(--title-accent-color);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}
/* button */
.hero-button {
    color: var(--title-accent-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-decoration: none;
}

/* section */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* features */
.feature .title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}
.feature .text {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
}

/* услуги */
.feature .subtitle {
    color: var(--title-accent-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.feature .subtitle:hover,
.feature .subtitle:focus {
    color:var(--secondary-text-color);
}

/* команда */
.feature .team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.feature .profession {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19px;
    text-align: center;
}
.social-link {
    color:var(--secondary-text-color);
    text-decoration: none;
}
.social-link:hover,
.social-link:focus {
    color: var(--accent-color);   
}

/* постоянные клиенты */
.client-link {
    color:var(--secondary-text-color);   
}
.client-link:hover,
.client-link:focus {
    color: var(--accent-color);     
}
/* footer */
.footer .address {
    color: var(--title-accent-color); 
    font-size: 14px;
    line-height: 1.71; 
    font-style: normal
}
.footer .link {
    color: var(--footer-accent-color);
    font-size: 14px;
    line-height: 1.71; 
}
.join,
.subscribe  {
    color: var(--title-accent-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.developed {
    color:var(--secondary-text-color);  
    font-size: 12px;
    line-height: 2;
    text-align: center;
}
/* portfolio page
 */
 /* портфолио */
 .nav-button {
     color:var(--primary-text-color);
     background-color: var(--background-color);
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     text-align: center; 
 }
 .nav-button:hover,
 .nav-button:focus {
     color:var(--title-accent-color); 
     background-color: var(--accent-color);
 }
 .portfolio .example {
     color:var(--primary-text-color);
     font-weight: 700;
     font-size: 18px;
     line-height: 2;
     letter-spacing: 0.06em;
     text-decoration: none;
 }
  .example-type {
    color:var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;   
 }
 .example-text {
    color: var(--title-accent-color); 
    font-size: 18px;
    line-height: 1.56;
 }
 .example-text:hover,
 .example-text:focus {
     background-color: var(--accent-color);
 }